.cell {
  border: 0.5px solid #C9C9C9;
  width: 60px;
  display: inline-block;
  padding: 0.5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
}

.cell .content {
  overflow: hidden;
}

.cell .readonly {
  background-color: #DEDEDE;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.cell input {
  border: none;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  padding-bottom: 1px;
  box-sizing:border-box;
}