.inline {
  margin-top: 15px;
  width: 100%;
}

.modal {
  border: 0.5px solid dimgray;
  background-color: gray;
  color: white;
  position: absolute;
  left: 25px;
  top: 125px;
  width: 400px;
  z-index: 99;
  border: 1px solid black;
}

.commandbar .input-prefix {
  display: inline;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 0px;
  font-weight: bolder;
}

.commandbar input {
  margin-left: 5px;
  margin-top: 5px;
  width: 90%;
  font-size: 16px;
  display: border-box;
}

.commandbar .error-message {
  color: red;
  font-family: Courier New, Courier, monospace;
  font-weight: bolder;
  margin: 5px;
}