.context-menu {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  color: green;
  font-weight: bolder;
  z-index: 2;
  position: absolute;
  top: 15px;
  right: -10px;
}

.context-menu ul {
  position: absolute;
  top: 5px;
  right: 0px;
  list-style-type: none;
  font-size: 15px;
  color: white;
  z-index: 99;
}

.context-menu li {
  background-color: black;
  position: absolute;
  width: 125px;
}